/* Title Thiccner */

@keyframes title-thicc {
    from {font-weight: 600;}
    to {font-weight: 700;}
}

@keyframes title-nothicc {
    from {font-weight: 700;}
    to {font-weight: 600;}
}

.title-thicc:hover{
    animation-name: title-thicc;
    animation-duration: 400ms;
}

.title-thicc{
    animation-name: title-nothicc;
    animation-duration: 400ms;
}

/* Subtitle Thiccner */

@keyframes sub-thicc {
    from {font-weight: 400;}
    to {font-weight: 500;}
}

@keyframes sub-nothicc {
    from {font-weight: 500;}
    to {font-weight: 400;}
}

.sub-thicc:hover{
    animation-name: sub-thicc;
    animation-duration: 400ms;
    font-weight: 500;
}

.sub-thicc{
    animation-name: sub-nothicc;
    animation-duration: 400ms;
}

/* Button Thiccner */

@keyframes butt-thicc {
    from {font-weight: 400; letter-spacing: 0em;}
    to {font-weight: 500; letter-spacing: 0.05em;}
}

@keyframes butt-nothicc {
    from {font-weight: 500; letter-spacing: 0.05em;}
    to {font-weight: 400; letter-spacing: 0em;}
}

.butt-thicc:hover{
    animation-name: butt-thicc;
    animation-duration: 300ms;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.butt-thicc{
    animation-name: butt-nothicc;
    animation-duration: 300ms;
}

/* Navitem Thiccner */

@keyframes nav-thicc {
    from {font-weight: 400; color: white;
        padding-left: 12px; padding-right: 12px;}
    to {font-weight: 500; color: #ffd468;
        padding-left: 16px; padding-right: 16px;}
}

@keyframes nav-nothicc {
    from {font-weight: 500; color: #ffd468;
        padding-left: 16px; padding-right: 16px;}
    to {font-weight: 400; color: white;
        padding-left: 12px; padding-right: 12px;}
}

.nav-thicc:hover{
    animation-name: nav-thicc;
    animation-duration: 400ms;
    color: #ffd468;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-thicc{
    animation-name: nav-nothicc;
    animation-duration: 400ms;
    padding-left: 12px;
    padding-right: 12px;
}

/* Tracking police */

@keyframes track-police {
    from {letter-spacing: 0.05em; line-height: 20px;}
    to {letter-spacing: 0.075em; line-height: 22px;}
}

@keyframes track-nopolice {
    from {letter-spacing: 0.075em; line-height: 22px;}
    to {letter-spacing: 0.05em; line-height: 20px;}
}

.track-pol:hover{
    animation-name: track-police;
    animation-duration: 400ms;
    letter-spacing: 0.075em;
    line-height: 22px;
}

.track-pol{
    animation-name: track-nopolice;
    animation-duration: 400ms;
}

/* Glows like gold 1 */

@keyframes glows1 {
    0% {color: #ffbb0e;}
    50% {color: #ffdc85;}
    100% {color: #ffbb0e;}
}

.glows1{
    animation-name: glows1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

/* Glows like gold 2 */

@keyframes glows2 {
    0% {color: #ffbb0e;}
    50% {color: #ffdc85;}
    100% {color: #ffbb0e;}
}

.glows2{
    animation-name: glows2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: -1s;
}

/* Glows like gold 3 */

@keyframes glows3 {
    0% {color: #ffbb0e;}
    50% {color: #ffdc85;}
    100% {color: #ffbb0e;}
}

.glows3{
    animation-name: glows3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}

/* Glows like gold 4 */

@keyframes glows4 {
    0% {color: #ffbb0e;}
    50% {color: #ffdc85;}
    100% {color: #ffbb0e;}
}

.glows4{
    animation-name: glows4;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: -3s;
}

/* Glows like gold 5 */

@keyframes glows5 {
    0% {color: #ffbb0e;}
    50% {color: #ffdc85;}
    100% {color: #ffbb0e;}
}

.glows5{
    animation-name: glows5;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: -4s;
}

@keyframes boinger {
    from {transform: scale(1);}
    to {transform: scale(1.04);}
}

@keyframes unboinger {
    from {transform: scale(1.04);}
    to {transform: scale(1);}
}

.boing{
    animation-name: unboinger;
    animation-duration: 0.4s;
}

.boing:hover{
    animation-name: boinger;
    animation-duration: 0.4s;
    transform: scale(1.04);
}