/* Scrollbar for the whole page */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999; 
}

body {
    background: url('../media/pat2.svg');
    background-size: 350px;
    background-repeat: repeat;
    transition: background-color 0.5s ease; /* Smooth transition for background color change */
}


@keyframes block {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.blockman1 {
    animation: block 10s ease 0s infinite normal backwards;
}
.blockman2 {
    animation: block 10s ease 0.5s infinite normal backwards;
}
.blockman3 {
    animation: block 10s ease 1s infinite normal backwards;
}
.blockman4 {
    animation: block 10s ease 1.5s infinite normal backwards;
}
.blockman5 {
    animation: block 10s ease 2s infinite normal backwards;
}
.blockman6 {
    animation: block 10s ease 2.5s infinite normal backwards;
}
.blockman7 {
    animation: block 10s ease 3s infinite normal backwards;
}
.blockman8 {
    animation: block 10s ease 3.5s infinite normal backwards;
}
.blockman9 {
    animation: block 10s ease 4s infinite normal backwards;
}

.nav-thicc{
    transition: 400ms;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-thicc:hover{
    font-size: 18px;
    line-height: 24px;
    color: #ffd468;
    padding-left: 16px;
    padding-right: 16px;
}

.inner-shadow {
    position: relative;
    color: white;
}

/* .inner-shadow::before, .inner-shadow::after {
    content: '';
    position: absolute;
    width: 100px; 
    height: 100%;
    z-index: 5;
}

.inner-shadow::before {
    left: 0;
    top: 0;
    background: linear-gradient(to right, var(--bg-color, black), transparent); 
}

.inner-shadow::after {
    right: 0;
    top: 0;
    background: linear-gradient(to left, var(--bg-color, black), transparent); 
} */

.bg-babol {
    background-image: url('../media/babol.jpg');
    background-size: 100%;
}
.bg-feat {
    background-image: url('../media/feat-games.jpg');
    background-size: 100%;
}
.bg-tour {
    background-image: url('../media/fide.jpg');
    background-size: 100%;
}

.home-button {
    transition: 0.5s;
    font-size: 18px;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30px;
}
.home-button:hover{
    letter-spacing: 0.3em;
}

.newsObject{
    color: #bbb;
    transition: 500ms;
    cursor: pointer;
}

.newsObject:hover{
    color: white;

}